body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.header {
    background-color: #4c007d;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}
.header a {
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    font-size: 16px;
}
.header a:hover {
    text-decoration: underline;
}
.nav-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.nav-links a {
    text-decoration: none;
    color: #4c007d;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid #4c007d;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.nav-links a:hover {
    background-color: #4c007d;
    color: rgb(214, 100, 100);
}
.content {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}